<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--是否启用调试-->
  <add key="isDebug" value="false"/>
  <!--OPC UA 根节点-->
  <add key="opcRootName" value="SPC Data Server"/>
  <!--OPC UA 服务端URL-->
  <add key="opcServerUrl" value="opc.tcp://localhost:51210/UA/Server"/>
  <add key="opcUser" value="name=System,password=000000"/>
</appSettings>